.portfolio {
    margin-top: 3em;
    
    &__info {
        padding: 0em;
        &--title,
        &--subtitle {
            text-align: center;
        }
        
        &--title {
            font-size: 2em;
            font-weight: bold;
        }
    
        &--subtitle {
            filter: opacity(0.8);
            font-size: 1em;
            font-weight: 400;
        }
    }
}

@media only screen  and (min-width : 1224px) {
    .portfolio {
        margin-top: 5em;
        
        &__info {
            margin-bottom: .5em;
        }
    }
}