.portfolio {
    margin-top: 3em;
    
    &__info {
        padding: 0em;
        &--title,
        &--subtitle {
            text-align: center;
        }
        
        &--title {
            font-size: 2em;
            font-weight: bold;
        }
    
        &--subtitle {
            filter: opacity(0.8);
            font-size: 1em;
            font-weight: 400;
        }
    }
}