.card {
    flex-basis: 30%;

    &__title {
        align-items: center;
        display: flex;
        font-size: 1.2em;
        justify-content: center;
        
        h5 {
            font-size: inherit;
            padding-right: 1em;
        }
    }

    .skills {
        display: block
    }

    .skill {
        display: flex;
        flex-direction: column;
        padding: 0 1em;

        &__title {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &__bar {
            background-color: #000;
            border-radius: 20px;
            display: block;
            height: 0.8em;
            margin-bottom: 0.8em;
            
            .skill__percentage {
                background-color: aqua;
                border-radius: inherit;
                display: inherit;
                height: inherit;
            }
        }
    }
}

.dark__theme {
    .card {
        .skill {
            &__bar {
                background-color: lighten($color: $dark_bg, $amount: 10);
                .skill__percentage {
                    background-color: $dark_primary;
                }
            }
        }
    }
}

.light__theme {
    .card {
        .skill {
            &__bar {
                background-color: darken($color: $light_bg, $amount: 20);
                .skill__percentage {
                    background-color: $light_primary;
                }
            }
        }
    }
}