.slider {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__container {
        position: relative;

        &--leftBtn,
        &--rightBtn {
            background-color: transparent;
            border: none;
            color: var(--primary-color);
            position: absolute;
            top: -3em;
            height: 100%;
            z-index: 20;
            
            i {
                font-size: 1.2em;
            }

            &:hover {
                color: var(--secondary-color);
            }
        }

        &--leftBtn {
            left: 0;
        }
        &--rightBtn {
            right: 0;
        }

        &--slide__container {
            display: flex;
            flex-wrap: nowrap;

            .slide {
                padding: 1em 2.5em;
                min-width: 100%;
                overflow: hidden;
                position: relative;
                z-index: 10;

                transition: .3s ease transform;

                .slide__left-container {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    margin-bottom: 1.5em;

                    &--image {
                        width: 100%;
                    }
                }
    
                .slide__right-container {
                    &--info {
    
                    }
    
                    &--tags {
                        display: flex;
                        gap: 1em;
                        i {
                            align-items: center;
                            background-color: var(--background-color-opacity);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            height: 2.5em;
                            padding: 0.2em;
                            width: 2.5em;
    
                            svg {
                                width: 1.7em;
                                height: 1.7em;
                            }
                        }
                    }
    
                    &--groupBtn {
                        a {
                            background-color: var(--primary-color);
                            border: 1px solid var(--primary-color);
                            border-radius: 5px;
                            color: #FFFFFF;
                            display: block;
                            font-weight: 500;
                            height: 2em;
                            margin: 1em 0em;
                            text-decoration: none;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

/* Para desktop */
// @media (max-width: 991.98px) {
//     .slider {
//         display: flex;
//         flex-direction: column;
//         gap: 1em;
    
//         &__container {
//             display: flex;
//             flex-direction: row;
    
//             &--leftBtn,
//             &--rightBtn {
//                 background-color: transparent;
//                 border: none;
//             }
    
//             &--slide {
//                 display: flex;
//                 flex-direction: row;
//             }
//         }
//     }
// }
