@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

:root {
    --primary-color: #{$main_primary};
    --secondary-color: #{$main_secondary};
    --background-color: #{$main_bg};
    --background-color-opacity: #{$main_bg-opacity};
    --text-color: #{$main_text};
    --primary-color-rgb: #{hexToRGB($main_primary)};
    --text-color-dark: #{$main_text_dark};
}

.dark {
    --primary-color: #{$dark_primary};
    --secondary-color: #{$dark_secondary};
    --background-color: #{$dark_bg};
    --background-color-opacity: #{$dark_bg-opacity};
    --text-color: #{$dark_text};
    --primary-color-rgb: #{hexToRGB($dark_primary)};
    --text-color-dark: #{$dark_text_dark};
}

body {
    // font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    position: relative;
    transition: background ease .3s;
}