@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html, body {
    height:100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 0px 1em;
    text-decoration: none;
}

.light__theme {
    background-color: $light_bg;
    color: $dark-gray;

    transition: background ease .5s;

    .navbar {
        background-color: inherit;
    }
    .btn__primary {
        color: inherit;
        transition: color ease .3s;

        &:hover {
            color: $light_primary;
        }
    }
    .active {
        color: $light_primary;
    }
}

.dark__theme {
    background-color: $dark_bg;
    color: $light-gray;

    transition: background ease .5s;

    .navbar {
        background-color: inherit;
    }
    .btn__primary {
        color: inherit;
        transition: color ease .3s;

        &:hover{
            color: $dark_primary;
        }
    }
    .active {
        color: $dark_primary;
    }
}